.Synonyms {
  margin: 20px 0 0;
  padding: 0;
}

.Synonyms li {
  font-size: 13px;
  display: inline-block;
  padding-right: 10px;
  line-height: 1.5;
}

.Synonyms h5 {
  display: inline-block;
  padding-right: 10px;
  line-height: 1.5;
  color: #ff5500;
}
